@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root{
    --base-background-color : #020502;
    --mute-background-color : #03130E;

    --primary-color : #22D354;
    --secondary-color : #03130E;
    --accent-color : #199A79;

    --base-text-color : #FFFFFF;
    --mute-text-color : #78C5AD;

    --base-font-family : 'montserrat', sans-serif;
    --mute-font-family : 'Poppins', sans-serif;

    --tag-background : #020502;
    --tag-border-color : #116751;
  } 
} 

body{
  background-color: var(--base-background-color);
  color: var(--base-text-color);
  font-family: 'Montserrat', sans-serif;
}

.background-glow{
  position: absolute;
  width: 600px;
  height: 600px;
  background: radial-gradient(closest-side, var(--primary-color), var(--base-background-color))
}

.nav-link{
  @apply bg-mute py-2 px-4 rounded-xl text-center text-sm hover:bg-primary  md:bg-transparent duration-500;
}